<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webjobsapp20180517103030.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webjobsapp20180517103030.scm.azurewebsites.net:443</MSDeployServiceURL>
    <ResourceId>/subscriptions/e6f505c1-aac6-40e2-a881-65235dfbe967/resourcegroups/Demos/providers/Microsoft.Web/sites/WebJobsApp20180517103030</ResourceId>
    <DeployIisAppPath>WebJobsApp20180517103030</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebJobsApp20180517103030</UserName>
    <_SavePWD>True</_SavePWD>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <WebJobType>Triggered</WebJobType>
    <WebJobName>SuperSecretProject.ConsoleApp</WebJobName>
  </PropertyGroup>
</Project>